[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "~=19.3b0"  # pre-release
flake8 = "~=3.7"
pydocstyle = "~=4.0"

[packages]
numpy = "~=1.17"
sklearn = "*"
nltk = "~=3.4"

[requires]
python_version = "3.7"
