[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
isort = "*"
mypy = "*"

[packages]
numpy = "*"
sklearn = "*"
nltk = "*"

[requires]
python_version = "3.7"
